<div x-data="userClient"
     @user-selected.window="selectedPhone = $event.detail.phone"
     @user-removed.window="if ($event.detail.phone === selectedPhone) selectedPhone = null"
     class="relative h-full transition duration-300 ease-in-out"
     :class="{'opacity-25': !token && !selectedPhone, 'opacity-50': !token && !!selectedPhone}"
>
    <div class="h-full z-0" id="client-map"></div>

    <div x-show="token" :title="'lat:' + activeLatLng?.[0] + ', lng: ' + activeLatLng?.[1]" class="absolute top-4 right-4 px-4 py-2 z-10 bg-white rounded-lg flex gap-4">
        {{ source('icons/user-icon.svg.twig') }}

        <div class="flex flex-col justify-center gap-1">
            <div class="text-gray-500 text-xs font-semibold">Passenger:</div>
            <div class="text-gray-800 font-semibold text-sm " x-text="TaxiUtils.formatPhone(selectedPhone)"></div>
        </div>
    </div>

    <div x-show="token" class="absolute bottom-4 right-4 left-4 p-4 z-10 bg-white rounded-lg">
        {# pre-order view #}
        <div x-show="!order" class="flex justify-between gap-3">
            <div class="flex flex-col gap-2 w-full">
                {# from #}
                <div @click="$refs.startInput.focus()" class="flex gap-2 w-full border-b border-gray-300 focus-within:border-gray-500 transition duration-300 ease-in-out">
                    <div class="py-1 text-gray-300 cursor-pointer transition duration-300 ease-in-out" :class="{'text-gray-800': selectedAddress == 'start', 'hover:text-gray-600': selectedAddress != 'start'}">
                        {% include 'icons/pin.svg.twig' %}
                    </div>

                    <div class="flex flex-col justify-around w-full">
                        <div class="text-gray-500 text-sm">Start address:</div>
                        <div class="text-gray-800 font-semibold text-md">
                            <input @focus="selectedAddress = 'start'" x-ref="startInput" aria-label="Address" type="text" x-model="startAddress" class="w-full bg-transparent focus:outline-none" />
                        </div>
                    </div>

                    <button @click="findAddress()" class="shrink-0 bg-white hover:bg-gray-100 text-gray-800 px-4 py-2 rounded-tl-lg rounded-tr-lg">
                        {{ source('icons/find.svg.twig') }}
                    </button>
                </div>

                {# to #}
                <div @click="$refs.endInput.focus()" class="flex gap-2 w-full border-b border-gray-300 focus-within:border-gray-500">
                    <div class="py-1 text-gray-300 cursor-pointer transition duration-300 ease-in-out" :class="{'text-gray-800': selectedAddress == 'end', 'hover:text-gray-600': selectedAddress != 'end'}">
                        {% include 'icons/pin.svg.twig' %}
                    </div>

                    <div class="flex flex-col justify-around w-full">
                        <div class="text-gray-500 text-sm">Finish address:</div>
                        <div class="text-gray-800 font-semibold text-md">
                            <input @focus="selectedAddress = 'end'" x-ref="endInput" aria-label="Address" type="text" x-model="endAddress" class="w-full bg-transparent focus:outline-none" />
                        </div>
                    </div>

                    <button @click="findAddress()" class="shrink-0 bg-white hover:bg-gray-100 text-gray-800 px-4 py-2 rounded-tl-lg rounded-tr-lg">
                        {{ source('icons/find.svg.twig') }}
                    </button>
                </div>
            </div>

            <button @click="createOrder()" class="bg-orange-600 hover:bg-orange-800 text-white px-4 py-2 rounded-lg flex flex-col gap-2 justify-center items-center">
                <div class="flex gap-2 items-center">
                    <span>Drive</span>
                    {{ source('icons/start.svg.twig') }}
                </div>
                <span x-show="formattedCost" x-text="formattedCost" class="text-xs opacity-75"></span>
            </button>
        </div>

        {# order view #}
        <div x-show="order" class="flex justify-between gap-3">
            <div class="flex flex-col gap-2 w-full">
                {# trip info #}
                <div class="flex flex-col">
                    <div class="flex gap-2 w-full items-center" :class="{'text-gray-800 font-semibold': orderStep === 0, 'text-gray-400': orderStep !== 0}">
                        <div class="py-1">
                            {% include 'icons/pin.svg.twig' with {'size': 'sm'} %}
                        </div>

                        <div class="text-sm line-clamp-1" x-text="startAddress"></div>
                    </div>

                    <div class="flex gap-2 w-full items-center" :class="{'text-gray-800 font-semibold': orderStep === 1, 'text-gray-400': orderStep !== 1}">
                        <div class="py-1">
                            {% include 'icons/pin.svg.twig' with {'size': 'sm'} %}
                        </div>

                        <div class="text-sm line-clamp-1">
                            <span x-show="order?.status === 'WAITING_FOR_DRIVER'">Looking for a driver...</span>
                            <span x-show="order?.status === 'DRIVER_ON_WAY'">Driver is on the way</span>
                            <span x-show="order?.status === 'DRIVER_ARRIVED'">Driver has arrived</span>
                            <span x-show="!['WAITING_FOR_DRIVER', 'DRIVER_ON_WAY', 'DRIVER_ARRIVED'].includes(order?.status)">Driving...</span>
                        </div>
                    </div>

                    <div class="flex gap-2 w-full items-center" :class="{'text-gray-800 font-semibold': orderStep === 2, 'text-gray-400': orderStep !== 2}">
                        <div class="py-1">
                            {% include 'icons/pin.svg.twig' with {'size': 'sm'} %}
                        </div>

                        <div class="text-sm line-clamp-1" x-text="endAddress"></div>
                    </div>
                </div>
            </div>

            <div class="flex flex-col gap-2 justify-center">
                <button @click="payOrder" x-show="orderStep === 0" class="flex-1 bg-green-600 hover:bg-green-800 text-white px-4 py-2 rounded-lg flex flex-col gap-2 justify-center items-end">
                    <div class="flex gap-2 items-center">
                        <span>Pay</span>
                        {{ source('icons/pay.svg.twig') }}
                    </div>
                    <span x-show="formattedCost" x-text="formattedCost" class="text-xs opacity-75"></span>
                </button>


                <button class="flex-1 bg-red-600 hover:bg-red-800 text-white px-4 py-2 rounded-lg flex flex-col gap-2 justify-center items-end">
                    <div class="flex gap-2 items-center">
                        <span>Cancel</span>
                        {{ source('icons/cancel.svg.twig') }}
                    </div>
                    <span x-show="formattedCost" x-text="formattedCost" class="text-xs opacity-75"></span>
                </button>
            </div>
        </div>
    </div>
</div>
